.header__main{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-items: center;
    margin-bottom: 40px;
}

.header__list{
    display: none;

}


@media only screen and (min-width: 766px){
    .header{
        &__main{
            width: 689px;
        }
        
        
        &__img{
            display: none ;
        }

        &__list{
            display: flex;
            justify-content: space-between;
            width: 283px;
        }

        &__link{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #83888F;
            
        }
    }
}